In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv('Dataset/Gym_membership.csv')

In [3]:
data.isnull().sum()

Age                              0
Gender                           0
Weight (kg)                      0
Height (m)                       0
Max_BPM                          0
Avg_BPM                          0
Resting_BPM                      0
Session_Duration (hours)         0
Calories_Burned                  0
Workout_Type                     0
Fat_Percentage                   0
Water_Intake (liters)            0
Workout_Frequency (days/week)    0
Experience_Level                 0
BMI                              0
dtype: int64

In [9]:
data.head(5)

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [4]:
calory_workout = data.groupby(['Workout_Type', 'Workout_Frequency (days/week)'])['Calories_Burned'].mean()
calory_workout

Workout_Type  Workout_Frequency (days/week)
Cardio        2                                 690.444444
              3                                 821.771739
              4                                1012.506494
              5                                1238.565217
HIIT          2                                 752.785714
              3                                 831.639535
              4                                1009.761194
              5                                1300.423077
Strength      2                                 789.511111
              3                                 802.941176
              4                                 986.529412
              5                                1295.269231
Yoga          2                                 690.510638
              3                                 832.556818
              4                                 984.493506
              5                                1271.740741
Name: Calories_Burned, dtype: float64

In [ ]:
min(data['Age']) #18
max(data['Age']) #59

59

In [23]:
data['Age_Segment'] = pd.cut(data['Age'], 
                              bins=[18, 30, 40, 50, 60], 
                              labels=['18-30', '31-40', '41-50', '51-60'], 
                              right=False)

In [26]:
gender_age = data.groupby('Gender')['Age_Segment'].value_counts()
gender_age

Gender  Age_Segment
Female  18-30          133
        51-60          116
        41-50          111
        31-40          102
Male    18-30          143
        41-50          134
        51-60          127
        31-40          107
Name: count, dtype: int64

In [27]:
data.head(5)

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI,Age_Segment
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20,51-60
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00,41-50
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71,31-40
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41,18-30
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39,31-40

In [9]:
data['Workout_Frequency (days/week)'].value_counts()

Workout_Frequency (days/week)
3    368
4    306
2    197
5    102
Name: count, dtype: int64